### Connecting and Creating database

In [1]:
import sqlite3

In [2]:
con = sqlite3.connect('student.db') #create and connect database

In [3]:
con

In [4]:
type(con)

sqlite3.Connection

### After connection we need to execute sql query to read, write on data base table. Therefore, we need cursor to do so. Cursor executes sql query

In [5]:
cur = con.cursor() #cursor executes SQL query

### Create table on database

# Create table on database
````
create table table_name (
roll_no int,
name varchar(20),
````

In [7]:
create_table_query = """
create table student(roll_no int, name varchar (40))
"""

In [8]:
cur.execute(create_table_query)

# Insert operation on SQL
INSERT INTO table_name (column1, column2, column3,....)
VALUES(value1, value2, value3,......),
(value1, value2, value3,......);

In [9]:
insert_data_query = """
Insert into student (roll_no, name)
values
(1, "Sandeep"),
(2, "Shaurya"),
(3, "Kshitiz")
"""

In [10]:
cur.execute(insert_data_query)

### Read data from a table
```sql
select * from table_name
```

In [11]:
read_query = """
select * from student
"""

In [12]:
cur.execute(read_query)

In [13]:
cur.execute(read_query).fetchall()

[(1, 'Sandeep'), (2, 'Shaurya'), (3, 'Kshitiz')]

In [15]:
cur.execute("select name from student").fetchall() # read name column

[('Sandeep',), ('Shaurya',), ('Kshitiz',)]

### find the roll no of student named Kshitiz

In [17]:
cur.execute("select roll_no from student where name = 'Kshitiz'").fetchall()

[(3,)]

### Update in SQL
```
update table_name
set column1 = value1
WHERE condition;
```

In [18]:
# I want to update roll_no 3 to Kshitiz Regmi

In [19]:
updatename = """
update student
set name = "Kshitiz Regmi"
where
roll_no = 3
"""

In [20]:
cur.execute(updatename)

In [21]:
cur.execute('Select * from student').fetchall()

[(1, 'Sandeep'), (2, 'Shaurya'), (3, 'Kshitiz Regmi')]

### Delete operation in SQL
```
delete from table
where condition;
```

In [22]:
cur.execute("delete from student where roll_no = 3")

In [23]:
cur.execute("select * from student").fetchall()

[(1, 'Sandeep'), (2, 'Shaurya')]